<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586026992812-4n92h1uaj1o54cr73of5c33smjoslhaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586026992812-4n92h1uaj1o54cr73of5c33smjoslhaq</string>
	<key>API_KEY</key>
	<string>AIzaSyBIG9TbL_SWGbXNzUkmNgRx6vhmUjO2lcw</string>
	<key>GCM_SENDER_ID</key>
	<string>586026992812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krishkala.UniMap-prototype</string>
	<key>PROJECT_ID</key>
	<string>somedatabaseofsomesort</string>
	<key>STORAGE_BUCKET</key>
	<string>somedatabaseofsomesort.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586026992812:ios:f07599ea4b246a0be0cb09</string>
</dict>
</plist>